# Programming in Data Science - Final Project
## Invoices Dataset Analysis
**Team Members: Leo WINTER, Yoann SUBLET, Kellian VERVAELE KLEIN, Alvaro SERERO**

Dataset: Invoices (Kaggle)

Source: https://www.kaggle.com/datasets/cankatsrc/invoices/data

This dataset includes multiple fields such as customer details (first name, last name, email), transaction information (product ID, quantity, amount, invoice date), and additional attributes like address, city, and stock code.

### Import all needed libraries for the project:
- Pandas for data manipulation
- Plotly express for visualizations
- Dash for creating a visual and interactive dashboard interface

In [2]:
import pandas as pd
import plotly.express as px
from dash import Dash, dcc, html
from prophet import Prophet

## 1) Data collection and exploration

### Function to safely load CSV data from a file path

In [2]:
def load_data(file_path: str) -> pd.DataFrame:
    """Function to load CSV data from a given file path safely.

    Input: file_path => String, path to the CSV file

    Output: dataset => pd.DataFrame containing the loaded data
    """
    try:
        df = pd.read_csv(file_path)
        print("Data loaded successfully.")
        return df
    except Exception as e:
        print(f"Error loading data: {e}")
        return pd.DataFrame()

### Function to process invalid first_name and last_name columns.
- In the initial dataset there are "last_name" and "first_name" columns but each one contains a combination of a first name and last name which does not make sense since a trasaction is only made by one individual person and columns should contain exactly what is described by their name.
- For example, the first line is structured as follows, which is a mistake and need to be corrected.

first_name | last_name  
Carmen Nixon | Todd Anderson

In [3]:
def name_treatment(dataset: pd.DataFrame, options: str="separate") -> pd.DataFrame:
    """
    Function to treat first_name and last_name columns in a dataset.
    
    Input:
    ---------
    - dataset => Pandas DataFrame, dataset must have first_name and last_name columns
    - options => String, options for treatment between "separate", "first" and "last"
        "separate" (default): create two new line for each name, 
        "first": keep only the first_name renamed as name, 
        "last" : keep only the last_name renamed as name
    
    Output:
    ---------
    - dataset => Pandas DataFrame after treating first_name and last_name columns
    """

    if "first_name" in dataset and "last_name" in dataset:
        if options == "separate":
            value = dataset.columns.difference(['first_name','last_name']).tolist()
            new_dataset = pd.melt(dataset, id_vars=value,              
                              value_vars=['first_name', 'last_name'],
                              value_name='name')
            
            autres_colonnes = [col for col in new_dataset.columns if col not in ["name", "variable"]]
            nouvel_ordre = ["name"] + autres_colonnes
            new_dataset = new_dataset[nouvel_ordre]

        elif options == "first":
            new_dataset = dataset.drop(columns=['last_name'])
            new_dataset.rename(columns={'first_name': 'name'}, inplace=True)

        elif options == "last":
            new_dataset = dataset.drop(columns=['first_name'])
            new_dataset.rename(columns={'last_name': 'name'}, inplace=True)
        else:
            print(f"{options} is not a correct parameters of options, please write 'separate' or 'first' or 'last")
            return dataset
        return new_dataset
    else:
        return dataset

### Function to parse invoice dates:
- Convert "invoice_date" column to datetime for futural temporal manipulations.
- Extracts year, month, day, and day of week features.

In [ ]:
def parse_dates(df: pd.DataFrame) -> pd.DataFrame:
    """
    Converts "invoice_date" column from string to datetime.
    Extracts year, month, day, and day of week features.
    Input: df (DataFrame) - dataset with invoice_date column
    Output: df (DataFrame) - dataset with parsed datetime features
    """
    if 'invoice_date' not in df.columns:
        print("Column 'invoice_date' not found in DataFrame.")
        return df
    
    df = df.copy()
    df['invoice_date'] = pd.to_datetime(df['invoice_date'], format='%d/%m/%Y', errors='coerce')
    df['year'] = df['invoice_date'].dt.year
    df['month'] = df['invoice_date'].dt.month
    df['day'] = df['invoice_date'].dt.day
    df['dayofweek'] = df['invoice_date'].dt.dayofweek
    print("Dates parsed and temporal features extracted")
    return df

### Covert all string columns of the dataset to strip whitespaces.

In [5]:
def convert_string_columns(df: pd.DataFrame) -> None:
    """
    String manipulation: Strip whitespace from object columns
    Input: df => Pandas DataFrame to be processed
    Output: None (the function modifies the DataFrame in place)
    """
    string_cols = df.select_dtypes(include=['object']).columns
    for col in string_cols:
        df[col] = df[col].str.strip()

### Function to preprocess the initial loaded dataset: combines all the previous functions and returns a clean dataset.

In [6]:
def preprocess_data(df: pd.DataFrame) -> pd.DataFrame:
    """
    Function to preprocess the initial loaded dataset:
    - Strips whitespaces from strings using the convert_string_columns function. 
    - Converts "invoice_date" column to datetime for futural temporal manipulations.
    - Adds "revenue" column derived from "qty" and "amount" columns.

    Input:
    ---------
    - df => Pandas DataFrame to be preprocessed
    Output:
    ---------
    - df => Preprocessed Pandas DataFrame
    """
    if 'qty' in df.columns and 'amount' in df.columns:
        # Create 'revenue' column as product of 'quantity' and 'amount'
        df['revenue'] = df['qty'] * df['amount']

    df = name_treatment(df, options="separate")
    df = parse_dates(df)
    convert_string_columns(df)

    return df

### Function for data exploration: displaying basic information on our dataset.
We can see that there is no missing or NaN data since all columns have 10000 non-null rows.

In [7]:
def explore_data(df: pd.DataFrame) -> None:
    """
    Prints key exploratory information: 
    - dataset shape (rows, columns)
    - column data types
    - missing values per column
    - description of columns
    - correlation matrix between numerical columns

    Input:
    ---------
    - df => Pandas DataFrame to be explored

    Output:
    ---------
    - None (prints information to console)
    """
    print("Shape (rows, columns):", df.shape)

    print("\nColumn dtypes:")
    print(df.dtypes)

    print("\nMissing values per column:")
    print(df.isna().sum())

    print("\nBasic description of numerical columns:")
    print(df.describe())

    # Correlation matrix for numeric variables
    print("\nCorrelation matrix (numeric columns):")
    print(df[['qty', 'amount', 'revenue']].corr())

### Testing data collection, preprocessing and exploration on the Invoices dataset.

In [56]:
explore_data(preprocess_data(load_data('invoices.csv')))

Data loaded successfully.
Dates parsed and temporal features extracted
Shape (rows, columns): (20000, 15)

Column dtypes:
name                    object
address                 object
amount                 float64
city                    object
email                   object
invoice_date    datetime64[ns]
job                     object
product_id               int64
qty                      int64
revenue                float64
stock_code               int64
year                     int32
month                    int32
day                      int32
dayofweek                int32
dtype: object

Missing values per column:
name            0
address         0
amount          0
city            0
email           0
invoice_date    0
job             0
product_id      0
qty             0
revenue         0
stock_code      0
year            0
month           0
day             0
dayofweek       0
dtype: int64

Basic description of numerical columns:
             amount                invoice_date    product_id           qty  \
count  20000.000000                       20000  20000.000000  20000.000000
mean      52.918236  1995-06-11 13:32:18.240000    149.746700      5.005900
min        5.010000         1970-01-05 00:00:00    100.000000      1.000000
25%       29.137500         1982-08-02 00:00:00    125.000000      3.000000
50%       53.485000         1994-12-26 00:00:00    150.000000      5.000000
75%       76.520000         2008-03-01 12:00:00    175.000000      7.000000
max       99.990000         2022-01-17 00:00:00    199.000000      9.000000
std       27.433893                         NaN     28.727468      2.576703

            revenue    stock_code          year         month           day  \
count  20000.000000  2.000000e+04  20000.000000  20000.000000  20000.000000
mean     265.687038  4.950036e+07   1994.941400      6.541900     15.869600
min        5.070000  1.977000e+03   1970.000000      1.000000      1.000000
25%       93.602500  2.425234e+07   1982.000000      4.000000      8.000000
50%      205.940000  4.931714e+07   1994.000000      7.000000     16.000000
75%      391.672500  7.457446e+07   2008.000000     10.000000     24.000000
max      898.920000  9.999216e+07   2022.000000     12.000000     31.000000
std      208.079422  2.903008e+07     14.880042      3.439889      8.867216

          dayofweek
count  20000.000000
mean       3.003200
min        0.000000
25%        1.000000
50%        3.000000
75%        5.000000
max        6.000000
std        2.009724

Correlation matrix (numeric columns):
              qty    amount   revenue
qty      1.000000  0.011086  0.660933
amount   0.011086  1.000000  0.675678
revenue  0.660933  0.675678  1.000000

## 2) Querying the dataset

### Indicator 1: Total revenue by city
Identifies the most profitable geographic locations by aggregating total revenue by city.

In [8]:
def calculate_revenue_by_city(df: pd.DataFrame, n: int=10) -> pd.DataFrame:
    """
    Groups invoices by city and calculates total revenue.
    Returns top n cities ranked by total transaction amount.
    Inputs:
    ---------
    - df (DataFrame): Input dataset
    - n (int): Number of top cities to return

    Output: grouped_df (DataFrame) - Contains 'Country' and 'TotalAmount'.
    """
    revenue_by_city = df.groupby('city').agg({
        'amount': 'sum',
        'product_id': 'count'
    }).reset_index()

    revenue_by_city.columns = ['City', 'Total_Revenue', 'Transaction_Count']
    revenue_by_city = revenue_by_city.sort_values('Total_Revenue', ascending=False)
    
    print(revenue_by_city.head(n))
    return revenue_by_city

To do => Explication of the indicator here

In [ ]:
def indicator_top_cities(df: pd.DataFrame, n: int = 10) -> pd.DataFrame:

    city_rev = (
        df.groupby('city', as_index=False)['revenue']
        .sum()
        .rename(columns={'revenue': 'total_revenue'})
        .sort_values('total_revenue', ascending=False)
        .head(n)
    )
    return city_rev

In [19]:
def monthly_revenue(df: pd.DataFrame) -> pd.DataFrame:
    """Get monthly revenue."""
    monthly_revenue_df = df.set_index('invoice_date').resample('M')['revenue'].sum().to_frame('monthly_revenue')
    return monthly_revenue_df

monthly_revenue(df)

/var/folders/cr/3y3t2vr97xsf_f_y_xhw2jv00000gn/T/ipykernel_90892/4161595773.py:3: FutureWarning:

'M' is deprecated and will be removed in a future version, please use 'ME' instead.

              monthly_revenue
invoice_date
1970-01-31            3878.93
1970-02-28            6050.15
1970-03-31            5527.01
1970-04-30            2050.53
1970-05-31            2779.05
...                       ...
2021-09-30            5605.31
2021-10-31            3333.89
2021-11-30            5293.00
2021-12-31            3466.81
2022-01-31            2553.67

[625 rows x 1 columns]

In [ ]:
def temporal_prediction(df: pd.DataFrame, time: str="year",periods: int = 10):
    """
    Use Prophet model to make a temporal prediction of the revenue.

    Inputs:
    ---------
    - df (DataFrame): Input dataset
    - time (str): options for the prediction between "year" and "month".
        "year" (default): use the year column of the dataset to make the prediction.
        "month": use the month column of the dataset to make th prediction.
    - periods (int): The period to calculate the future date. Default 10.

    Outputs: 
    --------
    new_df (DataFrame) - Contains 'time', 'original_revenue' and 'predicted_revenue'.
    model (Prophet model) - Prophet model trained on the dataset and used for the prediction
    """
    dataset = df.copy()
    if time == "year":
        # A mettre ailleur la transformation en datetime ?
        dataset['year'] = pd.to_datetime(dataset['year'], format='%Y')

        freq = 'Y'
        dataset = dataset.groupby('year')['revenue'].sum().reset_index()
        dataset.rename(columns={'year': 'ds','revenue': 'y'}, inplace=True)

    elif time == "month":
        # A mettre ailleur la transformation en datetime ?
        dataset['month'] = dataset['year'].astype(str) + '-' + dataset['month'].astype(str).str.zfill(2)
        dataset['month'] = pd.to_datetime(dataset['month'], format='%Y-%m')

        freq = 'M'
        dataset = dataset.groupby('month')['revenue'].sum().reset_index()
        dataset.rename(columns={'month': 'ds','revenue': 'y'}, inplace=True)
#   elif time == "day":

    else:
        print("Erreur: L'option 'time' doit être 'year' ou 'month'.")
        return None,None


    model = Prophet()
    model.fit(dataset)

    future_dates = model.make_future_dataframe(periods=periods, freq=freq)
    prediction = model.predict(future_dates)

    new_df = pd.merge(dataset[['ds', 'y']], prediction[['ds', 'yhat']], on='ds', how='outer')
    new_df.rename(columns={'y': 'original_revenue','yhat': 'predicted_revenue', 'ds': 'time'}, inplace=True)
    
    return new_df, model

## 3) Dash visualization

In [10]:
def create_dashboard(df: pd.DataFrame) -> Dash:
    revenue_by_city = calculate_revenue_by_city(df, n=10)
    
    figure_city_revenue = px.bar(
        revenue_by_city.head(15),
        x='City',
        y='Total_Revenue',
        title='Top 15 Cities by Revenue',
        labels={'Total_Revenue': 'Total Revenue ($)', 'City': 'City Name'},
        color='Transaction_Count',
        color_continuous_scale='Blues'
    ).update_layout(
        xaxis_tickangle=-45,
        height=400
    )

    # Initialize the Dash app
    app = Dash(__name__)

    app.layout = html.Div([
        # Header
        html.Div([
            html.H1("Invoices Dashboard – Group members: Alvaro SERERO, Leo WINTER, Yoann SUBLET, Kellian VERVAELE KLEIN"),
        ]),

        # Dashboard content
        # Indicator 1: Top Cities by Revenue
        html.Div([
            html.H3('Indicator 1: Top Cities by Total Revenue', 
                    style={'color': '#2980b9', 'marginBottom': 15}),
            html.P('Grouping Query - Aggregates total revenue and transaction count per city',
                    style={'fontSize': 13, 'color': '#7f8c8d', 'marginBottom': 15}),
            dcc.Graph(figure=figure_city_revenue),
        ]),
    ])

    return app

In [11]:
def main():
    file_path = "invoices.csv"
    df = load_data(file_path)
    df = preprocess_data(df)
    explore_data(df)

    app = create_dashboard(df)
    app.run()

if __name__ == "__main__":
    main()

Data loaded successfully.
Dates parsed and temporal features extracted
Shape (rows, columns): (20000, 15)

Column dtypes:
name                    object
address                 object
amount                 float64
city                    object
email                   object
invoice_date    datetime64[ns]
job                     object
product_id               int64
qty                      int64
revenue                float64
stock_code               int64
year                     int32
month                    int32
day                      int32
dayofweek                int32
dtype: object

Missing values per column:
name            0
address         0
amount          0
city            0
email           0
invoice_date    0
job             0
product_id      0
qty             0
revenue         0
stock_code      0
year            0
month           0
day             0
dayofweek       0
dtype: int64

Basic description of numerical columns:
             amount                invoice_date    product_id           qty  \
count  20000.000000                       20000  20000.000000  20000.000000
mean      52.918236  1995-06-11 13:32:18.240000    149.746700      5.005900
min        5.010000         1970-01-05 00:00:00    100.000000      1.000000
25%       29.137500         1982-08-02 00:00:00    125.000000      3.000000
50%       53.485000         1994-12-26 00:00:00    150.000000      5.000000
75%       76.520000         2008-03-01 12:00:00    175.000000      7.000000
max       99.990000         2022-01-17 00:00:00    199.000000      9.000000
std       27.433893                         NaN     28.727468      2.576703

            revenue    stock_code          year         month           day  \
count  20000.000000  2.000000e+04  20000.000000  20000.000000  20000.000000
mean     265.687038  4.950036e+07   1994.941400      6.541900     15.869600
min        5.070000  1.977000e+03   1970.000000      1.000000      1.000000
25%       93.602500  2.425234e+07   1982.000000      4.000000      8.000000
50%      205.940000  4.931714e+07   1994.000000      7.000000     16.000000
75%      391.672500  7.457446e+07   2008.000000     10.000000     24.000000
max      898.920000  9.999216e+07   2022.000000     12.000000     31.000000
std      208.079422  2.903008e+07     14.880042      3.439889      8.867216

          dayofweek
count  20000.000000
mean       3.003200
min        0.000000
25%        1.000000
50%        3.000000
75%        5.000000
max        6.000000
std        2.009724

Correlation matrix (numeric columns):
              qty    amount   revenue
qty      1.000000  0.011086  0.660933
amount   0.011086  1.000000  0.675678
revenue  0.660933  0.675678  1.000000
                City  Total_Revenue  Transaction_Count
2864      Lake James        1556.86                 24
4604     North Jason        1070.94                 16
6351  South Jennifer         971.60                 18
6105      Smithmouth         939.30                 16
4741   North Michael         934.64                 16
5395   Port Kimberly         919.52                 12
3590    Michaelshire         918.26                 14
4609  North Jennifer         878.00                 14
4004    New Jennifer         848.00                 12
3019    Lake Michael         844.70                 18