# Programming in Data Science Project: Invoices Dataset
**Students: Leo WINTER, Yoann SUBLET, Kellian VERVAELE KLEIN, Alvaro SERERO**

Dataset: Invoices
Kaggle link: https://www.kaggle.com/datasets/cankatsrc/invoices/data

This dataset includes multiple fields such as customer details (first name, last name, email), transaction information (product ID, quantity, amount, invoice date), and additional attributes like address, city, and stock code.

## 1) Data collection and exploration

In [ ]:
# Load the data into a pandas DataFrame
import pandas as pd

df = pd.read_csv('invoices.csv', sep=',', decimal='.', encoding='utf-8')
# show first rows to confirm successful load
df.head()

,first_name,last_name,email,product_id,qty,amount,invoice_date,address,city,stock_code,job
0,Carmen Nixon,Todd Anderson,marvinjackson@example.com,133,9,14.57,10/09/1982,283 Wendy Common,West Alexander,36239634,Logistics and distribution manager
1,Mrs. Heather Miller,Julia Moore,jeffrey84@example.net,155,5,65.48,03/10/2012,13567 Patricia Circles Apt. 751,Andreamouth,2820163,Osteopath
2,Crystal May,Philip Moody,ugoodman@example.com,151,9,24.66,23/03/1976,6389 Debbie Island Suite 470,Coxbury,27006726,Economist
3,Bobby Weber,Mark Scott,ssanchez@example.com,143,4,21.34,17/08/1986,6362 Ashley Plaza Apt. 994,Ninaland,83036521,Sports administrator
4,Kristen Welch,David David,cynthia66@example.net,168,2,83.90,11/06/1996,463 Steven Cliffs Suite 757,Isaiahview,80142652,Chief Marketing Officer

In [9]:
print(f"Dataset contains {df.shape[0]} rows and {df.shape[1]} columns.")
print(f"Info: {df.info()}")

Dataset contains 10000 rows and 11 columns.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    10000 non-null  object
 1   last_name     10000 non-null  object
 2   email         10000 non-null  object
 3   product_id    10000 non-null  int64
 4   qty           10000 non-null  int64
 5   amount        10000 non-null  float64
 6   invoice_date  10000 non-null  object
 7   address       10000 non-null  object
 8   city          10000 non-null  object
 9   stock_code    10000 non-null  int64
 10  job           10000 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 859.5+ KB
Info: None

We can see that there is no missing or NaN data since all columns have 10000 non-null rows.

## 2) Querying the dataset

Maximal number transaction amount made by a specific user.